#scroll{
    overflow-y: scroll;
}
img{
    width: 100%;
}
#list{
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 5px;
}
#float{
    width: 35%;
    float: right;
    margin:0;
    padding-bottom: 5px;
}
#img {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-top: 5px;
    padding-bottom: 5px;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
#header_label{
    margin: 0;
}
#h2_label{
    margin:0;
}
h2{
    margin:0;
}
h5{
    margin:0;
}
#purchase{
    float: left;
}
